/* ==================
   PRE STYLING
================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
  -webkit-user-drag: none;
}



/* ==================
    PAGE STYLING
================== */

body {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background: url("/Senna/assets/img//bg/fireplace(cr-tenor).gif") center/cover no-repeat;
}



/* ==================
    VAR STYLING
================== */
:root {
  /*--------- FIRE SPRITE ---------*/
  /* fire sprite size */
  --fire-sprite_size-body: 100px;
  --fire-sprite_size-arms: calc(var(--fire-sprite_size-body) - 50%);

  /* fire sprite position */
  --fire-sprite_X: 30%;
  --fire-sprite_Y: 200px;

  /* fire sprite arm left position */
  --fire-sprite-arm-left_X: calc(var(--fire-sprite_X) - 20px);
  --fire-sprite-arm-left_Y: calc(var(--fire-sprite_Y) + 110px);

  /* fire sprite arm right position */
  --fire-sprite-arm-right_X: calc(var(--fire-sprite_X) + 70px);
  --fire-sprite-arm-right_Y: calc(var(--fire-sprite_Y) + 110px);

  
  /*--------- TEXT CLOUD ---------*/
  /* text cloud */
  --text-cloud_X: calc(var(--fire-sprite_X) + 130px);
  --text-cloud_Y: calc(var(--fire-sprite_Y) - 150px);
  --text-cloud_size: calc(var(--fire-sprite_size-body) + 150px);


  /*--------- ANIMATION TIME ---------*/
  /* idle */
  --animation_idle: idle 5s infinite;


  /*--------- INDEX LAYERS ---------*/
  /* fire sprite */
  --index-layer_messageContent: 10;
  --index-layer_sprite-arms: 5;
  --index-layer_sprite: 0;

  /* text cloud */
  --index-layer_text-cloud: var(--index-layer_sprite-arms);
}



/* =========================
    AUDIO CONTROL STYLING
========================= */

/* fire audio - control styling */

.fire-audio::-webkit-media-controls-panel {
  background: #470707;
}

.fire-audio {
  position: absolute;
  bottom: 100px;
  right: 100px;
}



/* ==================
    SPRITE STYLING
================== */

/*--------- sprite styling ---------*/

/* fire sprite body */
.fire-sprite {
  position: absolute;
  left: var(--fire-sprite_X);
  top: var(--fire-sprite_Y);

  width: 100px;
  height: auto;

  z-index: var(--index-layer_sprite);

  animation: var(--animation_idle);
}

/* fire sprite arms */

/* left */
.fire-sprite-arm-left {
  position: absolute;
  left: var(--fire-sprite-arm-left_X);
  top: var(--fire-sprite-arm-left_Y);

  width: 50px;
  height: auto;

  z-index: var(--index-layer_sprite-arms);

  animation: var(--animation_idle);
}

/* right  */
.fire-sprite-arm-right {
  position: absolute;
  left: var(--fire-sprite-arm-right_X);
  top: var(--fire-sprite-arm-right_Y);

  width: 50px;
  height: auto;

  z-index: var(--index-layer_sprite-arms);

  animation: var(--animation_idle);
}



/*--------- cursor styling ---------*/

/* hover */
.fire-sprite:hover,
.fire-sprite-arm-left:hover,
.fire-sprite-arm-right:hover {
  cursor: pointer;
}

/* click */
.fire-sprite:active,
.fire-sprite-arm-left:active,
.fire-sprite-arm-right:active {
  cursor: grabbing;
}



/* ===========================
  SPRITE KEYFRAME ANIMATIONS
=========================== */

/* idle */
@keyframes idle {
  0%, 100% {
    transform: translateX(-10px) translateY(0) rotateZ(0deg);
  }

  20% {
    transform: translateX(-5px) translateY(50px) rotateZ(5deg);
  }

  50% {
    transform: translateX(10px) translateY(0) rotateZ(0deg);
  }

  70% {
    transform: translateX(5px) translateY(50px) rotateZ(-5deg);
  }
;}



/* ===========================
    TEXT CLOUD STYLING
=========================== */

@import url('https://fonts.googleapis.com/css2?family=Macondo+Swash+Caps&display=swap');

.text-cloud, .fireMessage {
  position: absolute;
  left: var(--text-cloud_X);
  top: var(--text-cloud_Y);
  /* --text-cloud_fire-message_X */

  width: var(--text-cloud_size);
  height: auto;

  animation: var(--animation_idle);
}

.fireMessage {
    font-family: 'Macondo Swash Caps', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    height: 200px;

    text-shadow: 2px 2px 3px #00000080;
    
}
