/* ==================
   PRE STYLING
================== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
  -webkit-user-drag: none;
}

/* ==================
    PAGE STYLING
================== */

body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background: url("/Senna/assets/img/fireplace\(cr-tenor\).gif") center/cover no-repeat;
}



/* =========================
    AUDIO CONTROL STYLING
========================= */

/* fire audio - control styling */

.fire-audio::-webkit-media-controls-panel {
  background: #470707;
}

.fire-audio {
  position: absolute;
  bottom: 100px;
  right: 100px;
}



/* ==================
    SPRITE STYLING
================== */

/* positioning */
:root {
  /* fire sprite position */
  --fire-sprite-X: 500px;
  --fire-sprite-Y: 200px;

  /* fire sprite arm left position */
  --fire-sprite-arm-leftX: calc(var(--fire-sprite-X) - 100px);
  --fire-sprite-arm-leftY: calc(var(--fire-sprite-Y) - 100px);

  /* fire sprite arm right position */
  --fire-sprite-arm-rightX: calc(var(--fire-sprite-X) + 100px);
  --fire-sprite-arm-rightY: calc(var(--fire-sprite-Y) - 100px);
}

/* mouse normal */
.fire-sprite {
  position: absolute;
  left: var(--fire-sprite-X);
  top: var(--fire-sprite-Y);

  width: 10%;
  height: auto;

  z-index: 100;

  animation: idle 5s infinite;
}

/* mouse on hover */
.fire-sprite:hover {
  cursor: pointer;
}

/* mouse on click */
.fire-sprite:active {
  cursor: grabbing;
}



/* ==================
  SPRITE KEYFRAME ANIMATIONS
================== */


/* idle */
@keyframes idle {
  0%, 100% {
    transform: translateX(-10px) translateY(0) rotateZ(0deg);
  }

  20% {
    transform: translateX(-5px) translateY(50px) rotateZ(5deg);
  }

  50% {
    transform: translateX(10px) translateY(0) rotateZ(0deg);
  }

  70% {
    transform: translateX(5px) translateY(50px) rotateZ(-5deg);
  }
;}

